html{color:#333333;font-size: 12px}
.wrapper{position: relative}
.wrapper a{text-decoration: none;color:#666666;}
.float-left{float:left}
.float-right{float:right}
.clear{clear:both}
.show{display:block}
.hide{display:none}
.jodit_toolbar_btn-about{display:none !important}
.jodit_toolbar_btn.jodit_toolbar_btn-Math_functions > a > span { height: 20px; width: 20px;line-height: 20px;vertical-align: middle;display: inline-block}


/* Mathquill override*/

.mq-math-mode .mq-empty{background: #fefefe;border: dashed 1px #0260f7;margin: 1px;}
.mq-editable-field.mq-focused{border:dashed 1px #0260f7;    box-shadow:none}
.mq-editable-field.mq-focused span.mq-hasCursor{box-shadow: none}

/*Math RHS toolbar */
.math-toolbar {display: block;border: solid 1px #cccccc;overflow: hidden;margin: 10px 0;width: 435px;position: absolute;z-index: 10;top: 20%;right: 0;background: #ffffff;}
.math-toolbar .math-toolbar-main{overflow: hidden;}
.math-toolbar ul {list-style: none;margin: 0;padding: 0}
.math-toolbar .math-toolbar-main .group-container{float:left;width: 20%;box-sizing: border-box}
.math-toolbar .math-toolbar-main .group-container ul li{display: block;border-bottom: solid 1px #f9f9f9}
.math-toolbar .math-toolbar-main .group-container ul li a{display: block;padding: 10%;}
.math-toolbar .math-toolbar-main .group-items-container{float:left;width: 80%;box-sizing: border-box;overflow-y: scroll;height:450px;}
.math-toolbar .math-toolbar-main .group-items-container ul li {list-style: none;display: inline-block;text-align: center;height: 32px;line-height: 32px;width: 30%;padding:1%;vertical-align: middle;border: solid 1px #efefef}
.math-toolbar .math-toolbar-main .group-items-container ul li:hover{background: #f9f9f9}
.math-toolbar .math-toolbar-main .group-items-container > ul > li > a{display:block;cursor: pointer;}
.math-toolbar .math-toolbar-main .group-items-container ul li:nth-child(3n){clear: both}
.math-toolbar .search-container .search-container{border-bottom:solid 1px #cccccc}
.math-toolbar .search-container input{width:97%;margin: 1%;height: 25px;}
.math-toolbar-top{overflow: hidden;width: 97%;padding: 10px 2%;border-bottom: solid 1px #cccccc}
.math-toolbar-top h3{margin:2px}
.math-toolbar-top .utilities > a{margin:2px 5px;display:inline-block}


/*Math inline autocomplete */
input#inlineMathSearch {border-style: none none solid;border-width: 1px;border-color: #ddd;outline: none;}
.autocomplete-container {width: 300px;border: solid 1px #ccc;margin: 0;background:#ffffff;position: absolute;top:150px;left: 10%;max-height: 300px;overflow-y: scroll}
.autocomplete-container .autocomplete-top {color: #999;padding: 8px 5px;}
.autocomplete-container ul{list-style: none;padding: 0;margin: 0} 
.autocomplete-container ul li {    list-style: none; padding: 5px;border: solid 1px #ccc;height: 40px;line-height: 40px;vertical-align: middle;}
.autocomplete-container ul li:hover{background: #f9f9f9}
.autocomplete-container .autocomplete-main > ul > li > a{display: block;text-transform: capitalize}
.autocomplete-container .autocomplete-search{border-bottom: solid 1px #999999;width: 100%;}
.autocomplete-container .autocomplete-search > input{width: 95%;box-sizing: border-box;padding: 5px;margin: 10px 2%}
.autocomplete-container .autocomplete-main ul li > a > span:first-child {display: inline-block;padding-left: 10px;}
.autocomplete-container .mq-math-mode .mq-empty {background: #fff!important;border: dashed 1px #0260f7;margin: 1px;}




        /*span.sqrt span.vlist-r:last-child span:empty{*/
                /*border:1px dotted black;*/
                /*height:18px;*/
                /*width:15px;*/
                /*box-shadow: #68b4df 0 0 3px 2px !important;*/
        /*}*/
        /*span.sqrt span.vlist-r:last-child{*/
                /*top: 7px;*/
                /*left: 13px;*/
                /*position: absolute;*/
                /*border-top: 1px solid;*/
        /*}*/